<div class="row">
  <!--span full width of col-md-7-->
  <div class="col-xs-12" style="padding-top: 5em;">
    <div class="card" style="width: 500px;">
      <img [src]="recipe.imagePath" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{recipe.name}}</h5>
        <p class="card-text">{{recipe.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
      </ul>
    </div>
  </div>
</div>
